body {
    background-color: rgb(255, 254, 230);
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.headers > * {
    margin: 5px;
}

.headers h3 {
    font-weight: normal;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
}

.game {
    margin-bottom: 40px;
}

.game-box {
    background-color: darkgray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

.word-box {
    flex-direction: row;
    display: flex;
    align-content: space-between;
}

.letter-box {
    background-color: rgb(232, 232, 232);
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
}

.letter {
    padding: 20px;
    font-size: x-large;
    background-color: rgb(194, 213, 221);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin: 3px;
    flex-direction: row;
}


.keys {
    flex-direction: row;
}

#delete {
    padding: 20px;
    font-size: x-large;
    background-color: rgb(78, 187, 105);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin: 3px;
}

#enter {
    padding: 20px;
    font-size: x-large;
    background-color: rgb(78, 187, 105);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin: 3px;
}

