body {
    background-color: rgb(255, 254, 230);
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    color: rgb(84, 88, 109);
}

.headers > * {
    margin: 0px;
}

h1 {
    font-family: 'Euphoria Script';
    font-size: 75px;
}

.headers h3 {
    font-family: 'Instrument Serif', serif;
    font-weight: normal;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
}

.game {
    margin-bottom: 40px;
}

.game-box {
    background-color: darkgray;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
}

.word-box {
    flex-direction: row;
    display: flex;
    align-content: space-between;
}

.letter-box {
    background-color: rgb(232, 232, 232);
    color: rgb(116, 122, 151);
    height: 75px;
    width: 75px;
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    line-height: 3px;
    font-size: 40px;
    font-weight: bold;
}

.letter {
    padding: 20px;
    font-size: x-large;
    background-color: rgb(194, 213, 221);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin: 3px;
    flex-direction: row;
}

.letter:active {
    background-color: rgb(172, 186, 193);
}


.keys {
    flex-direction: row;
}

#delete, #enter {
    padding: 20px;
    font-size: x-large;
    background-color: rgb(78, 187, 105);
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    margin: 3px;
}

#delete:active, #enter:active {
    background-color: rgb(69, 166, 93);
}